<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>vue-color</title>
  <script src="https://unpkg.com/vue@next"></script>
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
  <script src="../dist/vue-color.min.js"></script>
</head>
<style>
  html,body,#app{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
</style>
<body>
  <div id="app">
    <Chrome v-model="colors"/>
    <Compact v-model="colors"/>
    <Grayscale v-model="colors"/>
    <Material v-model="colors"/>
    <Photoshop v-model="colors"/>
    <Sketch v-model="colors"/>
    <Slider v-model="colors"/>
    <Swatches v-model="colors"/>
    <Twitter v-model="colors"/>
  </div>
</body>
<script>
  const app = Vue.createApp({
    data() {
      return {
        colors: '#194D33A8',
      }
    },
    watch: {
      colors: {
        immediate: true,
        handler(curColor){
          document.querySelector('#app').style.backgroundColor = typeof curColor === 'object' ? curColor.hex8 : curColor;
        }
      }
    }
  });
  app.use(VueColor);
  app.mount('#app')
</script>
</html>